*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
}

/* Barra di navigazione */
header{
    background-color: #add8e6;
}

.top-bar{
    padding: 20px 0;
}

.header-content{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .login{
    flex-grow: 1;
    padding: 10px;
}

.login{
    text-align: right;
}

.link{
    list-style: none;
    flex-grow: 2;
    text-align: center;
}

li{
    display: inline-block;
    padding: 10px;
}

a{
    text-decoration: none;
}

/* Parte caentrale */
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg{
    padding: 40px 0;
}

.section-top{
    background-color: #00008b;
}

.section-middle{
    background-color: #ffff;
}

.section-middle-fix{
    background-color: #d3d3d3;
}

.jumbo{
    width: 600px;
    height: 300px;
    background-color: #ee82ee;
}

.box{
    height: 300px;
}

.boxfix{
    height: 600px;
    background-color: #228b22;
}

.colum-small{
    display: flex;
    flex-grow: 1;
    background-color: #ffc0cb;
}

.colum-big{
    display: flex;
    flex-grow: 2;
    background-color: #1e90ff;
}

.colum-smallfix{
    display: flex;
    flex-grow: 2;
    background-color: #20b2aa;
}

.colum-bigfix{
    display: flex;
    flex-grow: 1;
    background-color: #f08080;
}

.block{
    flex-grow: 1;
    border: 1px dotted white;
}

/* Footer */
footer{
    background-color: #23272a;
}

.footer-top{
    padding: 20px 0;
}

.bottom-bar{
    padding-top: 20px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7fffd4;
}

.logo-footer, .button{
    padding: 5px;
    margin: 10px 0;
    background-color: #ffb6c1;
    border: none;
}